<footer class="footer-01">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Flax United</h2>
                <p>
                    We specialize in exporting high-grade long-fiber flax, known as "Bico," and short-fiber flax, commonly referred to as "Al Arous," available in 3rd and 4th stages.</p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" class="d-flex justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="ftco-animate"><a href="#" class="d-flex justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="ftco-animate"><a href="#" class="d-flex justify-content-center align-items-center" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Latest News</h2>
                <div class="block-21 mb-4 d-flex">
      <a class="img mr-4 rounded" style="background-image: url('assets/images/product-1.jpeg');"></a>
      <div class="text">
        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
        <div class="meta">
          <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
          <div><a href="#"><span class="icon-person"></span> Admin</a></div>
          <div><a href="#"><span class="icon-chat"></span> 19</a></div>
        </div>
      </div>
    </div>
    <div class="block-21 mb-4 d-flex">
      <a class="img mr-4 rounded" style="background-image: url('assets/images/product-2.jpeg');"></a>
      <div class="text">
        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
        <div class="meta">
          <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
          <div><a href="#"><span class="icon-person"></span> Admin</a></div>
          <div><a href="#"><span class="icon-chat"></span> 19</a></div>
        </div>
      </div>
    </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">Quick Links</h2>
                <ul class="list-unstyled">
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="py-2 d-block">Home</a></li>
      <li><a [routerLink]="['/about']" href="#" class="py-2 d-block">About</a></li>
      <li><a [routerLink]="['/contact']" href="#" class="py-2 d-block">Contacts</a></li>
    </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Have a Questions?</h2>
                <div class="block-23 mb-3">
      <ul>
        <li><i class="fas fa-map-marker-alt me-2"></i><span class="text">Egypt, Shabramels, Gharbia</span></li>
        <li><a tel="tel://01023644981"><i class="fas fa-phone me-2"></i><span class="text">+010 236 449 81</span></a></li>
        <li><a routerLink="/home"><i class="fa-solid fa-globe me-2"></i><span class="text">flaxunited.com</span></a></li>
        <li>
          <a routerLink="/home">
            <img src="../../../assets/images/logo.png" style="width: 250px;" alt="">
          </a>
        </li>
      </ul>
    </div>
            </div>
        </div>
        <div class="row mt-5">
  <div class="col-md-12 text-center">

    <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Omar Elemam</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
  </div>
</div>
    </div>
</footer>