<div class="call-us-section text-md-left">
    <div class="container">
        <p>Call us now: <a href="tel:0123456789">0123456789</a></p>
    </div>
</div>

<!-- <header>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-6 col-md-3">
                <div class="logo">
                    <img src="assets/images/logo.png" />
                </div>
            </div>
            <div class="col-12 col-md-5 text-center">
                <h1>FL<span>A</span>X UNITED</h1>
            </div>
            <div class="col-12 col-md-4">
                <nav class="nav justify-content-center justify-content-md-end flex-nowrap">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" aria-current="page">HOME</a>
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">ABOUT</a>
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">CONTACTS</a>
                </nav>
            </div>
        </div>
    </div>
</header> -->